<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quan ly</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
<body>
    <div class="manage-container">
        <div class="manage-left">
            <div class="manage-top">
                <img src="/images/User-Administrator-Blue-icon.png" alt="">
                <span>ABC</span>
            </div>

            <ul class="manage-down">
                <li><a href="#">Danh muc san pham</a></li>
                <li><a href="#">Danh muc san pham</a></li>
                <li><a href="#">Danh muc san pham</a></li>
                <li><a href="#">Danh muc san pham</a></li>
                <li><a href="#">Danh muc san pham</a></li>
            </ul>
        </div>
        <div class="manage-right">
            <div class="row mt-5">
                <div class="col-12"><h3>Thêm danh mục sản phẩm</h3></div>
                <form action="" class="col-6">
                    <div class="form-group">
                        <label>Tên danh mục</label>
                        <input type="text" class="form-control" placeholder="Thêm tên danh mục">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="">
                            <option value="0">Chọn danh mục cha</option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                        </select>
                    </div>

                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>