<div class="manage-menu">
    <h4 class="title">Trang quản trị</h4>
    <div class="manage-menu-right">
        <div class="">
            <i class="fas fa-user"></i><span>Xin chào ABC</span>
        </div>
        <div class="log-out">
            <a href="#"><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a>
        </div>
    </div>
</div>