<div class="manage-left">
    <div class="manage-top">
        <img src="/images/User-Administrator-Blue-icon.png" alt="">
        <span>ABC</span>
    </div>
    <ul class="manage-down">
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/cartegory/list">Danh mục sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/menu/list">Menus</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/product/list">Sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/slider/list">Slider</a>
        </li>
    </ul>
</div>