<div class="manage-left">
    <div class="manage-top">
        <img src="/images/User-Administrator-Blue-icon.png" alt="">
        <span>ABC</span>
    </div>
    <ul class="manage-down">
        <li><a href="/cartegory/list">Danh mục sản phẩm</a></li>
        <li><a href="#">Danh muc san pham</a></li>
        <li><a href="#">Danh muc san pham</a></li>
        <li><a href="#">Danh muc san pham</a></li>
        <li><a href="#">Danh muc san pham</a></li>
    </ul>
</div>