<div class="manage-left">
    <ul class="manage-down">
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/cartegory/list">Danh mục sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/menu/list">Menus</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/product/list">Sản phẩm</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/slider/list">Slider</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/setting/list">Setting</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/user/list">Danh sách nhân viên</a>
        </li>
        <li>
            <i class="fas fa-list-ul"></i>
            <a href="/role/list">Danh sách vai trò</a>
        </li>
    </ul>
</div>